[user]
	name = coresh
	email = 1753595@gmail.com
[alias]
        cd    = checkout
        ch    = checkout
        dir   = branch
        mersq = merge --squash
        free  = branch -D
        s     = status
        ci    = commit
        br    = branch
        co    = checkout
        st    = status --short
        lg1   = log --graph --all --format=format:'%C(bold blue)%h%C(reset) — %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold blue)%d%C(reset)' --abbrev-commit --date=relative
        lg2   = log --graph --all --format=format:'%C(bold blue)%h%C(reset) — %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
        lg    = !"git lg1"
        hist  = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[core]
        excludesfile = ~/.gitexcludes
